

.register{
  max-width: 978px;
  width: 100vw;
  display: flex;
  border:1.5px solid #e9ecef;
  border-radius: 25px;
  background-color: #f5f5f5;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d3d3d345;
}
img{
 
    display: flex;
    height: 580px;
    border-radius: 25px;

}
#form{
  display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-around;
}

.col-1{
  width: 100%;
}
.col-2{
  display: block;

}
.register input{
  margin-bottom: 20px;
  
    height: 25px;
    border: none;
    border-radius: 12px;
    padding: 10px;
}
  .register input:active{
      border: solid 1px #7a52faed!important;


}
.register input :focus-visible{
  border: solid 1px #7a52faed!important;
}
.btn{
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: #913ee5;
  border-radius: 20px;
  color: #f5f5f5;
}
.btn:hover{
  margin-bottom: 7px;
  background-color:rgb(11, 183, 36) ;
  transition: 1s;
  transition:1s ease-in;

}
.pass-btn{

    margin-bottom: 16px;
    border-radius: 10px;
    border: none;
    position: relative;
    /* float: left; */
    display: flex;
    width: 120px;
    padding: 12px;

}

input #text{
  color: tomato;
}
.validation-text{
  display: flex;
    flex-direction: column;
    color: red;
}
span.valid-error {
  padding: 2px;
}
@media only screen and (max-width: 667px) and (min-width: 370px) {
.col-2{
display: none;
}
}